<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fitness_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Fitness_App.Properties.Settings>
            <setting name="Fitness_App_xmlservice_xmlService" serializeAs="String">
                <value>https://localhost:44331/xmlService.asmx</value>
            </setting>
            <setting name="Fitness_App_net_azurewebsites_dbservice1_CRUDService"
                serializeAs="String">
                <value>https://dbservice1.azurewebsites.net/CRUDService.asmx</value>
            </setting>
            <setting name="Fitness_App_net_azurewebsites_dbservice2_DBService2"
                serializeAs="String">
                <value>https://dbservice2.azurewebsites.net/DBService2.asmx</value>
            </setting>
            <setting name="Fitness_App_net_azurewebsites_dbservice3_DataService"
                serializeAs="String">
                <value>https://dbservice3.azurewebsites.net/DataService.asmx</value>
            </setting>
        </Fitness_App.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CRUDServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CRUDServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CRUDServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://dbservice1.azurewebsites.net/CRUDService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CRUDServiceSoap"
                contract="ServiceReference1.CRUDServiceSoap" name="CRUDServiceSoap" />
            <endpoint address="https://dbservice1.azurewebsites.net/CRUDService.asmx"
                binding="customBinding" bindingConfiguration="CRUDServiceSoap12"
                contract="ServiceReference1.CRUDServiceSoap" name="CRUDServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>